.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 32px;
    width: 100%
}

.task-section {
    flex: 0 0 60%;
}

.task-card { background-color: lightblue; border-radius: 10px; padding: 15px; margin-bottom: 12px;}
.priority-high { border-left: 5px solid red }
.priority-medium { border-left: 5px solid orange }
.priority-low { border-left: 5px solid greenyellow }

.task-done {
    opacity: 0.6;
    text-decoration:line-through;
    background: #696767 !important;
}

.task-overdue {
    background-color: rgba(255, 166, 0, 0.954); 
}


.modal {
    display: none; /* This hides it by default */
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(2, 2, 2, 0.5); /* Dimmed background */
}

.task-form {
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.3);
}

.task-card {
    width: clamp(400px, 90%, 720px)
}   

.timer-section {
    flex: 0 0 350px;
    position: sticky;
    top: 40px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color:rgba(3, 60, 6, 0.1);
    text-align: center;
    border: 2px solid #033e06;
}

.timer-presets {
    margin-bottom: 20px;
}

.timer-controls {
    display: grid;
    gap: 4px;
}

#timer-display {
    font-size: 3rem;
    font-weight:bold;
    margin-bottom: 10px
}