:root {
    --bg-primary: #1e1d1c;
    --bg-secondary: #242424;
    --bg-card: #653737;
    --accent: #000080;
    --accent-gradient-btn: linear-gradient(135deg, #257963, #074333);
    --accent-gradient-text: linear-gradient(135deg, #4692f4, #8af8e7);
    --text-primary: #f0f0f0;
    --text-muted: #9a9a9a;
    --border: #3a3a3a;
}

.body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.btn {
    background: var(--accent-gradient-btn);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.task-actions {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
}

.task-actions form {
    padding: 0;
    margin: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 32px;
    width: 100%
}

.task-section {
    flex: 0 0 60%;
}

.task-card {
    background-color: var(--bg-card); 
    border-radius: 12px; 
    padding: 16px; 
    margin-bottom: 12px; 
    border: 1px solid var(--border);
}
.priority-high { border-left: 5px solid rgb(202, 3, 3) }
.priority-medium { border-left: 5px solid #ffd700  }
.priority-low { border-left: 5px solid #257963 }

.task-done {
    opacity: 0.6;
    text-decoration:line-through;
    background: #696767 !important;
}

.task-overdue {
    background-color: #9b111e; 
}


.modal {
    display: none; /* This hides it by default */
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(2, 2, 2, 0.5); /* Dimmed background */
}

.task-form {
    background-color: white;
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.3);
}

.task-card {
    width: clamp(400px, 90%, 720px)
}   

.timer-section {
    flex: 0 0 350px;
    position: sticky;
    top: 40px;
    margin-left: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color:rgba(3, 60, 6, 0.1);
    text-align: center;
    border: 2px solid #033e06;
}

.timer-presets {
    margin-bottom: 10px;
}

.timer-controls {
    margin: 8px;
    align-content: center;
}

.main-text {
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 12px;
    background: var(--accent-gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#task-heading {
    margin: 24px;
}

#new-task-btn {
    background: var(--accent-gradient);
    border: solid;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 24px;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 750;
    vertical-align: middle;
}