    <!DOCTYPE html>
    <html>
        <head>
            <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        </head>
        <body class="body">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="dashboard-container">
                <div class="task-section">
                    <div>
                        <button class="btn" type="button" onclick='openModal("taskModal")'>New Task</button>
                    </div>

                    <div>
                        <div class="main-text"><h1>Your Tasks</h1></div>
                        {% if tasks %}
                            {% for task in tasks %}
                                <div class="task-card priority-{{ task.priority_label.lower() }} {% if task.isCompleted %}task-done{% endif %} {% if task.is_overdue %}task-overdue{% endif %}">
                                    <h2>Task: {{ task.content }}</h2>
                                    <span>| Priority: {{ task.priority_label }} |</span>
                                    <span>| Due Date: {{ task.due_date if task.due_date else "Unspecified"}} |</span>
                                    <span>| Status: {{ "Done" if task.isCompleted else ("Overdue!" if task.is_overdue else "Pending")}} |</span>
                                    <div class="task-actions">
                                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                                            <button class='btn' type="submit" onclick="return confirm('Are you sure in deleting this task?')">  Delete  </button>
                                        </form>
                                        <form action="{{ url_for('edit_task', task_id=task.id) }}" method="POST">
                                            <button class='btn' type="button" onclick='openModal("editModal-{{ task.id }}")'>  Edit  </button>
                                        </form>
                                        <form action="{{ url_for('update_task', task_id=task.id) }}" method="POST">
                                            <button class='btn' type="submit">Update Completion</button>
                                        </form>
                                    </div>    
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No tasks yet. Take a breather!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="timer-section">
                    <div class="main-text" id="timer-display">
                        <span id="minutes">{{ user.last_timer }}</span>:<span id="seconds">00</span>
                    </div>
                    <div class="timer-presets">
                        <button class='btn' onclick="setTimer(25)"> 25m </button>
                        <button class='btn' onclick="setTimer(50)"> 50m </button>
                        <button class='btn' onclick="setTimer(90)"> 90m </button>
                    </div>
                    <div class="timer-controls">
                        <button class='btn' onclick="startTimer()"> Start </button>
                        <button class='btn' onclick="resetTimer()"> Reset </button>
                    </div>
                </div>
            </div>

            <div id="taskModal" class="modal">
                <form action="/add" method="POST" class="task-form">
                    <h2>New Task</h2>

                    <div>
                        <label for="content">Task Content</label>
                        <input type="text" name="content" placeholder="e.g. Finish Flask UI" required>
                    </div>
                    
                    <div>
                        <label for="priority">Level of Priority</label>
                        <select name="priority" id="priority">
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </select>
                    </div>

                    <div>
                        <label for="due_date">Due Date</label>
                        <input type="date" name="due_date">
                    </div>

                    <div class="form-actions">
                        <button class='btn' type="button" onclick="closeModal('taskModal')"> Cancel </button>
                        <button class='btn' type="submit" class="primary-button"> Create Task </button>
                    </div>
                </form>
            </div>
            {% if tasks %}
                {% for task in tasks %}
                    <div id="editModal-{{ task.id }}" class="modal">
                        <form action="{{ url_for('edit_task', task_id=task.id) }}" method="POST" class="task-form">
                            <h2>Edit Task</h2>

                            <div>
                                <label for="content">Task Content</label>
                                <input type="text" name="content" value="{{ task.content }}" placeholder="e.g. Finish Flask UI" required>
                            </div>
                            
                            <div>
                                <label for="priority">Level of Priority</label>
                                <select name="priority" id="priority">
                                    <option value="1" {{ 'selected' if task.priority == 1 else '' }}>Low</option>
                                    <option value="2" {{ 'selected' if task.priority == 2 else '' }}>Medium</option>
                                    <option value="3" {{ 'selected' if task.priority == 3 else '' }}>High</option>
                                </select>
                            </div>

                            <div>
                                <label for="due_date">Due Date</label>
                                <input type="date" value="{{ task.due_date }}" name="due_date">
                            </div>

                            <div class="form-actions">
                                <button class='btn' type="button" onclick="closeModal('editModal-{{ task.id }}')"> Cancel </button>
                                <button class='btn' type="submit" class="primary-button"> Save </button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
            
                        <script>
                function closeModal(modalId) {
                    document.getElementById(modalId).style.display = 'none'
                }
                function openModal(modalId) {
                    document.getElementById(modalId).style.display = 'block'
                }

                let timeLeft = {{ user.last_timer }} * 60;
                let timerInterval;

                function updateDisplay() {
                    const mins = Math.floor(timeLeft / 60)
                    const secs = timeLeft % 60;
                    document.getElementById('timer-display').innerText =
                    `${mins.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;
                }

                function setTimer(minutes){
                    timeLeft = minutes * 60
                    updateDisplay()

                    // Save this choice to the database
                    fetch('/update_last_timer', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ minutes: minutes })
                    });
                }
                    
                function startTimer() {
                    if (timerInterval) return;

                    timerInterval = setInterval(() => {
                        if (timeLeft > 0) {
                            timeLeft--;
                            updateDisplay();
                        } else {
                            clearInterval(timerInterval);
                            timerInterval = null;
                            alert("Time for a break!");
                        }
                    }, 1000)
                }
                function resetTimer() {
                    clearInterval(timerInterval);
                    timerInterval = null;
                    timeLeft = {{ user.last_timer }} * 60;
                    updateDisplay()
                }
            </script>

        </body>
    </html>
