    <!DOCTYPE html>
    <html>
        <head>
            <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        </head>
        <body class="body">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-container">
                        {% for category, message in messages %}
                            <span class="alert alert-{{ category }}">{{ message }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="dashboard-container">
                <div class="task-section">
                    <nav class="top-nav">
                        <a href="{{ url_for('dashboard') }}" class="nav-link">| Dashboard |</a>
                        <a href="{{ url_for('dashboard') }}" class="nav-link">| Analytics |</a>
                    </nav>
                    <div>
                        <div id="task-heading" class="main-text">
                            <span>Your Tasks</span>
                            <button id="new-task-btn" type="button" onclick='openModal("taskModal")'>New Task</button>
                        </div>
                        {% if tasks %}
                            {% for task in tasks %}
                                <div class="task-card priority-{{ task.priority_label.lower() }} {% if task.isCompleted %}task-done{% endif %} {% if task.is_overdue %}task-overdue{% endif %}">
                                    <h2 class="task-content">Task: {{ task.content }}</h2>
                                    <span class="task-priority">| Priority: {{ task.priority_label }} </span>
                                    <span class="task-due">| Due Date: {{ task.due_date if task.due_date else "Unspecified"}} </span>
                                    <span class="task-status">| Status: {{ "Done" if task.isCompleted else ("Overdue!" if task.is_overdue else "Pending")}} </span>
                                    <div class="task-actions">
                                        <button class="btn" type='submit' onclick='deleteTask({{ task.id }}, this)'>Delete</button>
                                        <button class='btn' type="button" onclick='openModal("editModal-{{ task.id }}")'>  Edit  </button>
                                        <button class="btn" type="submit" onclick="updateTask({{ task.id }}, this)">Update Completion</button>
                                    </div>    
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No tasks yet. Take a breather!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="timer-section">
                    <div class="main-text" id="timer-display">
                        <span id="minutes">{{ user.last_timer }}</span>:<span id="seconds">00</span>
                    </div>
                    <div class="timer-presets">
                        <button class='btn' onclick="setTimer(25)"> 25m </button>
                        <button class='btn' onclick="setTimer(50)"> 50m </button>
                        <button class='btn' onclick="setTimer(90)"> 90m </button>
                    </div>
                    <div class="timer-controls">
                        <button class='btn' onclick="startTimer()"> Start </button>
                        <button class='btn' onclick="resetTimer()"> Reset </button>
                    </div>
                </div>
            </div>

            <div id="taskModal" class="modal">
                <form action="/add" method="POST" class="task-form">
                    <h2>New Task</h2>

                    <div>
                        <label for="content">Task Content</label>
                        <input type="text" name="content" placeholder="e.g. Finish Flask UI" required>
                    </div>
                    
                    <div>
                        <label for="priority">Level of Priority</label>
                        <select name="priority" id="priority">
                            <option value="1">Low</option>
                            <option value="2">Medium</option>
                            <option value="3">High</option>
                        </select>
                    </div>

                    <div>
                        <label for="due_date">Due Date</label>
                        <input type="date" name="due_date">
                    </div>

                    <div class="form-actions">
                        <button class='btn' type="button" onclick="closeModal('taskModal')"> Cancel </button>
                        <button class='btn' type="submit" class="primary-button"> Create Task </button>
                    </div>
                </form>
            </div>
            {% if tasks %}
                {% for task in tasks %}
                    <div id="editModal-{{ task.id }}" class="modal">
                        <div>
                            <h2>Edit Task</h2>

                            <div>
                                <label for="content">Task Content</label>
                                <input type="text" name="content" value="{{ task.content }}" placeholder="e.g. Finish Flask UI" required>
                            </div>
                            
                            <div>
                                <label for="priority">Level of Priority</label>
                                <select name="priority" id="priority">
                                    <option value="1" {{ 'selected' if task.priority == 1 else '' }}>Low</option>
                                    <option value="2" {{ 'selected' if task.priority == 2 else '' }}>Medium</option>
                                    <option value="3" {{ 'selected' if task.priority == 3 else '' }}>High</option>
                                </select>
                            </div>

                            <div>
                                <label for="due_date">Due Date</label>
                                <input type="date" value="{{ task.due_date }}" name="due_date">
                            </div>

                            <div class="form-actions">
                                <button class='btn' type="button" onclick="closeModal('editModal-{{ task.id }}')"> Cancel </button>
                                <button class='btn' type="button" class="primary-button" 
                                onclick="editTask({{ task.id }}, this, document.getElementById('editModal-{{ task.id }}'))"> 
                                Save 
                            </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            <script>
                const INITIAL_TIMER = {{ user.last_timer }};
            </script>

            <script src="{{ url_for('static', filename='dashboard.js')  }}"></script>
        </body>
    </html>
